H1 {text-align: center;}
table th, td {border: 1px solid black;}

body {
  font-family: "Lato", sans-serif;
}

table {background-color: gainsboro;}


.sidenav {
  height: 100%;
  width: 250px;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

 

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

 

.sidenav a:hover {
  color: #f1f1f1;
}

 

.main {
  margin-left: 200px; /* Same as the width of the sidenav */
  font-size: 26px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}





 

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

 


table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 50%;
  border: 1px solid #ddd;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

 

th, td {
  text-align: left;
  padding: 16px;
}

 

tr:nth-child(even) {
  background-color: #800000
  ;
}
table {color:white}
tr:nth-child(odd) {color:black}




div {
    width: 200px;
    height: 200px;
    display: block;
    position: relative;
  }
  


  [class*="col-"] {
    width: 100%;
  }
  
  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }
